<section class="bg-unidYellow bg-wave bg-cover">
  <div
    class="w-10/12 mx-auto gap-16 md:gap-20 flex py-28 md:flex-row flex-col items-center"
  >
    <div
      class="lg:flex-grow md:w-1/2 md:gap-14 gap-10 flex flex-col md:items-start md:text-left items-center text-center"
    >
      <div class="md:gap-6 gap-4 flex flex-col">
        <h1>{{section_landingpage_hero_content['header_text']}}</h1>
        <p id="h1_subheader">
          {{section_landingpage_hero_content['subheader_text']}}
        </p>
      </div>
      <!-- BUTTON -->
      <div class="w-2/6">
      <!-- prettier-ignore -->
        % include('utilities/buttons/primary_button', type='button', link='/', button_text=section_landingpage_hero_content['button_text'])
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img
        class="object-cover object-center"
        alt="hero"
        src="/assets/illustrations/{{section_landingpage_hero_content['image']}}"
      />
    </div>
  </div>
</section>
