<header class="text-white text-base bg-unidLightBlue drop-shadow-xl">
  <div
    class="w-10/12 2xl:w-8/12 py-8 mx-auto flex items-center justify-between"
  >
    <a href="/"
      ><img
        class="w-28"
        src="/assets/logos/{{unid_logo['primary_logo']}}"
        alt="{{unid_logo['logo_alt']}}"
    /></a>
    <!-- prettier-ignore -->
    <nav class="hidden lg:flex gap-4 xl:gap-8 items-center justify-center">
      % include('elements/header_nav_items')
    </nav>
    <div class="gap-2 lg:gap-4 flex items-center">
      <div class="flex">
        <!-- prettier-ignore -->
        % include('utilities/buttons/login_button', link='/', button_text='Log ind')
      </div>
      <div class="flex lg:hidden">
        <!-- prettier-ignore -->
        % include('utilities/buttons/burger_menu', link='/')
      </div>
    </div>
  </div>
</header>
