<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aktive Klippekort</title>
  </head>
  <body>
    <h1>Aktive Klippekort</h1>

    % for clipcard in active_clipcards:

    <div id="clipcard_{{ clipcard['clipcard_id'] }}">
      <h2>{{ clipcard['first_name'] }} {{ clipcard['last_name'] }}</h2>
      <h2>{{ clipcard['website_url'] }}</h2>
      <p>{{ clipcard['remaining_time'] }} timer</p>

      <div>
        <h3>Brugeroplysninger</h3>
        <p>Fornavn: {{ clipcard['first_name'] }}</p>
        <p>Efternavn: {{ clipcard['last_name'] }}</p>
        <p>Brugernavn: {{ clipcard['username'] }}</p>
        <p>Email: {{ clipcard['email'] }}</p>
      </div>

      <div>
        <h3>Website</h3>
        <p>Navn: {{ clipcard['website_name'] }}</p>
        <p>URL: {{ clipcard['website_url'] }}</p>
      </div>

      <div>
        <h3>Klippekortoplysninger</h3>
        <p>Klippekort ID: {{ clipcard['clipcard_id'] }}</p>
        <p>Klippekorttype: {{ clipcard['clipcard_type_title'] }}</p>
      </div>

      <div>
        <h3>Timeoverblik</h3>
        <p>Tid brugt: {{ clipcard['time_used'] }} timer</p>
        <p>Tid tilbage: {{ clipcard['remaining_time'] }} timer</p>
      </div>

      <button
        type="button"
        class="delete-button"
        data-clipcard-id="{{ clipcard['clipcard_id'] }}"
      >
        Slet klippekort
      </button>
    </div>

    % end

    <script>
      document.querySelectorAll(".delete-button").forEach((button) => {
        button.addEventListener("click", function () {
          var clipcardId = this.getAttribute("data-clipcard-id");
          deleteClipcard(clipcardId);
        });
      });

      function deleteClipcard(clipcardId) {
        fetch("/delete_clipcard/" + clipcardId, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              var clipcardElement = document.getElementById(
                "clipcard_" + clipcardId
              );
              if (clipcardElement) {
                clipcardElement.remove();
              }
            } else {
              throw new Error("Kunne ikke slette klippekortet.");
            }
          })
          .catch((error) => {
            console.error("Fejl:", error);
            alert("Der opstod en fejl ved sletning af klippekortet.");
          });
      }
    </script>
  </body>
</html>
