<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/app.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- FAVICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Aktive Klippekort</title>
  </head>
  <body>
    <h1>Aktive Klippekort</h1>

    % for clipcard in active_clipcards:
    <div id="clipcard_{{ clipcard['clipcard_id'] }}">
      <h2>{{ clipcard['first_name'] }} {{ clipcard['last_name'] }}</h2>
      <h2>{{ clipcard['website_url'] }}</h2>
      <p>{{ clipcard['remaining_time_text'] }}</p>

      <div>
        <h3>Brugeroplysninger</h3>
        <p>Navn: {{ clipcard['first_name'] }} {{ clipcard['last_name'] }}</p>
        <p>Brugernavn: {{ clipcard['username'] }}</p>
        <p>Email: {{ clipcard['email'] }}</p>
      </div>

      <div>
        <h3>Website</h3>
        <p>Navn: {{ clipcard['website_name'] }}</p>
        <p>URL: {{ clipcard['website_url'] }}</p>
      </div>

      <div>
        <h3>Klippekortoplysninger</h3>
        <p>Klippekort ID: {{ clipcard['clipcard_id'] }}</p>
        <p>Klippekorttype: {{ clipcard['clipcard_type_title'] }}</p>
      </div>

      <div>
        <h3>Timeoverblik</h3>
        <p>Tid brugt: {{ clipcard['time_used_text'] }}</p>
        <p>Tid tilbage: {{ clipcard['remaining_time_text'] }}</p>
      </div>

      <button
        type="button"
        class="delete-button"
        data-clipcard-id="{{ clipcard['clipcard_id'] }}"
      >
        Slet klippekort
      </button>
    </div>
    % end

    <h1>Timeregistrering</h1>
    <form
      id="taskForm"
      action="/submit_task"
      method="post"
      style="display: flex; align-items: center; gap: 10px"
    >
      <label for="customer">Kunde:</label>
      <select id="customer" name="customer">
        % for customer in active_customers:
        <option value="{{customer['user_id']}}">
          {{customer['first_name']}} {{customer['last_name']}}
        </option>
        % end
      </select>
      <br />
      <label for="title">Opgavetitel:</label>
      <textarea id="title" name="title"></textarea>
      <br />
      <label for="description">Opgavebeskrivelse:</label>
      <textarea id="description" name="description"></textarea>
      <br />
      <label for="hours">Tid brugt:</label>
      <input type="number" id="hours" name="hours" min="0" step="1" value="0" />
      timer
      <input
        type="number"
        id="minutes"
        name="minutes"
        min="0"
        max="59"
        step="1"
        value="0"
      />
      minutter
      <br />
      <input type="submit" value="Registrer" />
    </form>

    <div id="responseMessage"></div>

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
