<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Messages</title>
  </head>
  <body>
    <h1>Indsendte Beskeder</h1>
    % for message in messages:
    <div style="background-color: gainsboro">
      <h2>{{ message['first_name'] }} {{ message['last_name'] }}</h2>
      <h3>{{ message['website_name'] }} - {{ message['website_url'] }}</h3>
      <h4>Emne: {{ message['message_subject'] }}</h4>
      <p>Besked: {{ message['message_text'] }}</p>
      % if message['message_file']:
      <a href="{{ message['message_file'] }}" target="_blank"
        >Hent vedhæftede filer</a
      >

      % end
    </div>
  </body>
</html>
