<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/app.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- FAVICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Køb Klippekort</title>
  </head>
  <body>
    <h1>Køb Klippekort</h1>
    <form action="/process_payment" method="post">
      <input type="hidden" name="clipcard_type" value="{{ clipcard_type }}" />
      <input type="hidden" name="clipcard_price" value="{{ clipcard_price }}" />
      <p><strong>Klippekorttype:</strong> {{ clipcard_type }}</p>
      <p><strong>Pris:</strong> {{ clipcard_price }} kr</p>

      <h2>Betalingsoplysninger</h2>
      <label for="cardnumber">Kortnummer:</label>
      <input type="text" id="cardnumber" name="cardnumber" required /><br />
      <label for="expiration_date">Gyldigt til (mm/åå):</label>
      <input
        type="text"
        id="expiration_date"
        name="expiration_date"
        required
      /><br />
      <label for="security_code">Kontrolcifre:</label>
      <input
        type="text"
        id="security_code"
        name="security_code"
        required
      /><br />
      <label for="name">Kortholderens navn:</label>
      <input type="text" id="name" name="name" required /><br />

      <button type="submit">Bekræft køb</button>
    </form>

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
