<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Betalingsbekræftelse</title>
  </head>
  <body>
    <h1>Betalingsbekræftelse</h1>
    <p>Tak for dit køb!</p>
    <p>Ordrenummer: {{payment_id}}</p>
    <p>Betalt beløb: {{amount_paid}} kr</p>
    <p>Du kan nu se dit klippekort på din profilside.</p>
    <a href="/">Tilbage til forsiden</a>

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
