<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Klippekort</title>
    <script>
      function buyClipcard(clipcardType, clipcardPrice) {
        window.location.href =
          "/buy_clipcard/" + clipcardType + "/" + clipcardPrice;
      }
    </script>
  </head>
  <body>
    <h1>Klippekort</h1>
    <ul>
      % for card in clipcards:
      <li>
        {{ card['clipcard_type_title'] }} - Pris: {{ card['clipcard_price'] }}
        kr
        <button
          type="button"
          class="buy-button"
          data-clipcard-type="{{ card['clipcard_type_title'] }}"
          data-clipcard-price="{{ card['clipcard_price'] }}"
        >
          Køb
        </button>
      </li>
      % end
    </ul>

    <script>
      document.querySelectorAll(".buy-button").forEach((button) => {
        button.addEventListener("click", function () {
          var clipcardType = this.getAttribute("data-clipcard-type");
          var clipcardPrice = this.getAttribute("data-clipcard-price");
          buyClipcard(clipcardType, clipcardPrice);
        });
      });
    </script>
  </body>
</html>
