<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Klippekort</title>
    <script>
      function buyClipcard(clipcardType, clipcardPrice) {
        window.location.href =
          "/buy_clipcard/" + clipcardType + "/" + clipcardPrice;
      }
    </script>
  </head>
  <body>
    <h2>KLIPPEKORT</h2>
    <h1>Hvorfor købe et klippekort?</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s,. When an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing.
    </p>
    <div>
      % for card in clipcards:
      <h2>KLIPPEKORT</h2>
      <h3>{{ card['clipcard_type_title'] }}</h3>
      <h4>Pris: {{ card['clipcard_price'] }} kr</h4>

      <button
        type="button"
        class="buy-button"
        data-clipcard-type="{{ card['clipcard_type_title'] }}"
        data-clipcard-price="{{ card['clipcard_price'] }}"
      >
        Køb nu
      </button>

      % end
    </div>

    <script>
      document.querySelectorAll(".buy-button").forEach((button) => {
        button.addEventListener("click", function () {
          var clipcardType = this.getAttribute("data-clipcard-type");
          var clipcardPrice = this.getAttribute("data-clipcard-price");
          buyClipcard(clipcardType, clipcardPrice);
        });
      });
    </script>
  </body>
</html>
