<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />
    <title>{{title}}</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    % include('components/header_bar')
    % include('components/header')
    <section class="bg-unidBeige">
      <div
        class="width_standard mx-auto py-24 lg:py-32 md:py-28 space-y-16 md:space-y-10 lg:space-y-16"
      >
        <div class="flex justify-center">
          <div
            class="lg:w-2/3 flex justify-center flex-col text-center gap-y-4"
          >
            <h1>Kontakt</h1>
            <p id="subheader">
              Uanset om du har et eller flere spørgsmål, så er vi altid parate,
              til at hjælpe dig. Lad os høre om din idé, og vi vil herefter i
              fælleskab skræddersy én løsning, der passer perfekt til dig og din
              virksomhed. Vi ser frem, til at høre fra dig!
            </p>
          </div>
        </div>
        <div
          class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-16 justify-center items-center"
        >
          <div class="w-2/3 flex items-center justify-center mx-auto">
            <img src="/assets/illustrations/graphic_design.png" alt="" />
          </div>
          <div
            class="bg-unidPink order-first lg:order-last mx-auto flex flex-col w-full p-10 space-y-8 rounded-lg"
          >
            <div class="space-y-4">
              <h3 class="">Skriv til os her</h3>
              <p class="leading-relaxed text-gray-600">
                Vi stræber efter at vende tilbage hurtigst muligt.
              </p>
            </div>
            <div class="space-y-4">
              <!-- prettier-ignore -->
              % include('utilities/input_field', label_for=form_inputs['full_name']['label_for'], form_label=form_inputs['full_name']['text'], form_svg=form_inputs['full_name']['icon'], type=form_inputs['full_name']['type'], name=form_inputs['full_name']['name'], inputmode=form_inputs['full_name']['inputmode'], placeholder=form_inputs['full_name']['placeholder'], form_info=form_inputs['full_name']['form_info'])
              % include('utilities/input_field', label_for=form_inputs['email']['label_for'], form_label=form_inputs['email']['text'], form_svg=form_inputs['email']['icon'], type=form_inputs['email']['type'], name=form_inputs['email']['name'], inputmode=form_inputs['email']['inputmode'], placeholder=form_inputs['email']['placeholder'], form_info=form_inputs['email']['form_info'])
              <div>
                <!-- prettier-ignore -->
                % include('utilities/message_input_field')
              </div>
            </div>
            <div class="mx-auto md:w-3/6 lg:w-full xl:w-3/6 pt-6">
              <!-- prettier-ignore -->
              % include('utilities/buttons/primary_button', link='/', type='submit', button_text='Send besked')
            </div>
          </div>
        </div>
      </div>
    </section>
    % include('components/footer')
  </body>
</html>
