<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log ind</title>
  </head>

  <body>
    <section>
      <div>
        <span>Log ind</span>
        <div class="mt-4 flex flex-col justify-center">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Brugernavn"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Adgangskode"
          />
        </div>
        <button onclick="login()">Log ind</button>
        <div>
          <p id="error-message"></p>
        </div>
        <div>
          <p>Har du ikke en bruger?</p>
          <a id="" onclick="" class="" href="">Opret en bruger</a>
        </div>
      </div>
    </section>

    <script>
      async function login() {
        const username = document.querySelector("input[name='username']").value;
        const password = document.querySelector("input[name='password']").value;
        console.log("Username:", username);
        const formData = new FormData();

        formData.append("username", username);
        formData.append("password", password);

        for (const value of formData.values()) {
          console.log(value);
        }

        const response = await fetch("/login", {
          method: "POST",
          body: formData,
        });
        const data = await response.json();

        if (data.error) {
          document.getElementById("error-message").innerText = data.error;
        } else {
          console.log("Login successful");
        }
        
        window.location.reload();
      }
    </script>
  </body>
</html>
