<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/app.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- FAVICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{title}}</title>
  </head>

  <body>
    <section
      class="grid grid-cols-1 lg:grid-cols-3 lg:h-screen xl:min-w-screen bg-unidYellow bg-wave bg-cover"
    >
      <div
        class="width_small flex flex-col lg:col-span-2 space-y-10 lg:space-y-12 justify-center mx-auto py-20 lg:py-16"
      >
        <div class="space-y-3 lg:space-y-6">
          <h1>{{section_login_content['header_text']}}</h1>
          <p id="subheader">{{section_login_content['subheader_text']}}</p>
        </div>
        <form class="space-y-6 lg:space-y-8">
          <div id="username">
            <!-- USERNAME -->
            <!-- prettier-ignore -->
            % include('utilities/input_field', label_for=global_content['form_inputs']['username']['label_for'], form_label=global_content['form_inputs']['username']['text'], form_svg=global_content['form_inputs']['username']['icon'], type=global_content['form_inputs']['username']['type'], name=global_content['form_inputs']['username']['name'], inputmode=global_content['form_inputs']['username']['inputmode'], placeholder=global_content['form_inputs']['username']['placeholder'], form_info=global_content['form_inputs']['username']['form_info'])
          </div>
          <div class="form_input_error_message">
            <!-- PASSWORD -->
            <!-- prettier-ignore -->
            % include('utilities/password_field')
          </div>
        </form>
        <div class="space-y-6">
          <!-- ERROR MESSAGE -->
          <div
            id="form_input_error_message"
            class="object_hidden items-center gap-3"
          >
            <div class="w-5 h-5">
              <!-- prettier-ignore -->
              % include(global_content['ui_icons']['error'])
            </div>
            <div class="flex-col">
              <p class="font-bold">Hov!</p>
              <p id="error_message"></p>
            </div>
          </div>
          <div class="w-full pt-4 items-center mx-auto flex justify-center">
            <!-- prettier-ignore -->
            % include('utilities/buttons/primary_button', link='login(event)', type='submit', button_text=section_login_content['button_text'])
          </div>
          <div
            class="flex pt-2 text-sm gap-2 text-unidLightBlue border-t border-unidLightBlue"
          >
            <p>Har du ikke en bruger?</p>
            <a
              href="/signup"
              class="group transition duration-300 cursor-pointer text-sm hover:scale-105 font-bold ease-in-out"
            >
              Opret bruger
              <span
                class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-unidPurple"
              ></span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="bg-unidLightBlue relative flex py-14 lg:py-0 justify-center mx-auto"
      >
        <a href="/">
          <img
            class="absolute top-10 right-10 hidden lg:block w-40"
            src="/assets/logos/primary_logo.svg"
            alt=""
          />
        </a>
        <img
          class="w-8/12 lg:w-10/12 mx-auto -mt-20 lg:-mt-0 lg:-ml-20"
          src="/assets/illustrations/{{section_login_content['image']}}"
          alt=""
        />
      </div>
    </section>

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
