<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kontakt</title>
  </head>
  <body>
    <h2>KONTAKT</h2>
    <h1>Har du noget der skal rettes eller laves på dit website?</h1>
    <form action="/send_message" method="post" enctype="multipart/form-data">
      <div>
        <label for="subject">Emne:</label>
        <input type="text" id="subject" name="subject" required />
      </div>
      <div>
        <label for="message">Besked:</label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <div>
        <label for="file">Upload fil:</label>
        <input
          type="file"
          id="file"
          name="file"
          accept=".png, .jpg, .jpeg"
          multiple
        />
      </div>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
