<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    % include('components/header_bar')
    % include('components/header')
    <section class="bg-unidBeige">
      <div
        class="width_standard padding_y_standard space_y_standard mx-auto"
      >
        <div class="flex justify-center">
          <div
            class="lg:w-2/3 flex justify-center flex-col text-center gap-y-4 md:gap-y-6"
          >
            <h1>Case portfolio</h1>
            <p id="subheader">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
              inventore nam eos incidunt, consequatur animi libero modi
              doloremque esse? Amet qui doloribus nam saepe vitae.
            </p>
          </div>
        </div>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 lg:grid-rows-3 gap-y-6 md:gap-4"
        >
          <div>
            <!-- prettier-ignore -->
            % include('elements/portfolio_element')
          </div>
          <div>
            <!-- prettier-ignore -->
            % include('elements/portfolio_element')
          </div>
          <div class="col-span-1 md:col-span-2 row-span-1 md:row-span-2">
            <!-- prettier-ignore -->
            % include('elements/portfolio_element')
          </div>
          <div class="col-span-1 md:col-span-2 row-span-1 md:row-span-2">
            <!-- prettier-ignore -->
            % include('elements/portfolio_element')
          </div>
          <div>
            <!-- prettier-ignore -->
            % include('elements/portfolio_element')
          </div>
          <div>
            <!-- prettier-ignore -->
            % include('elements/portfolio_element')
          </div>
        </div>
      </div>
    </section>
    % include('components/footer')

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
