<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/app.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- FAVICONS -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    % if user is not None and "user_role_id" in user:
    % include('components/header_component')
    <section
      class="bg-unidYellow bg-wave bg-cover py-20 space-y-8 lg:space-y-10"
    >
      <h1 class="flex justify-center">Min konto</h1>
      <div
        class="width_standard mx-auto space-y-8 lg:space-y-0 md:grid-cols-2 md:gap-10 xl:gap-20 grid grid-cols-1 lg:grid-cols-3"
      >
        <div class="col-span-1">
          <!-- prettier-ignore -->
          % include('components/profile/profile_menu')
        </div>
        <div
          id="profile_content"
          class="lg:col-span-2 col-span-1 grid gap-10 md:gap-8 items-center"
        >
          % include('components/profile/profile_overview')
        </div>
      </div>
    </section>
    % end

    <!-- prettier-ignore -->
    % include('components/footer_component')

    <!-- Logout pop up (hidden by default) -->
    % include('components/profile/logout_pop_up')

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
