<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />
    <title>{{title}}</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    % if user is not None and "user_roles_user_role_id" in user:
    % include('components/header_bar')
    % include('components/header')
    <section
      class="bg-unidYellow bg-wave bg-cover py-20 space-y-8 lg:space-y-10"
    >
      <h1 class="flex justify-center">Min konto</h1>
      <div
        class="w-10/12 2xl:w-6/12 mx-auto space-y-8 lg:space-y-0 md:grid-cols-2 md:gap-10 xl:gap-20 grid grid-cols-1 lg:grid-cols-3 items-center"
      >
        <div class="col-span-1">
          <!-- prettier-ignore -->
          % include('components/profile/profile_menu')
        </div>
        <div
          id="profile_content"
          class="lg:col-span-2 col-span-1 grid gap-10 md:gap-8"
        >
          % include('components/profile/profile_overview')
        </div>
      </div>
    </section>
    % end
    <!-- prettier-ignore -->
    % include('components/footer')

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".secondary_button");

        buttons.forEach((button) => {
          button.addEventListener("click", function () {
            buttons.forEach((btn) =>
              btn.classList.remove("secondary_button_selected")
            );
            this.classList.add("secondary_button_selected");
            const templateName = this.getAttribute("data-template");
            loadTemplate(templateName);
          });
        });

        if (buttons.length > 0) {
          buttons[0].classList.add("secondary_button_selected");
          loadTemplate(buttons[0].getAttribute("data-template"));
        }

        function loadTemplate(templateName) {
          fetch(`/profile/${templateName}`)
            .then((response) => response.text())
            .then((html) => {
              document.getElementById("profile_content").innerHTML = html;
            })
            .catch((error) => console.error("Error loading template:", error));
        }
      });
    </script>
  </body>
</html>
