<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/app.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- FAVICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    % include('components/header')

    <section class="bg-unidBeige">
      <div
        class="width_standard padding_y_standard space_y_standard space-y-24 mx-auto"
      >
        <div class="flex justify-center">
          <div
            class="lg:w-2/3 flex justify-center flex-col text-center gap-y-4 md:gap-y-6"
          >
            <h1>{{ services_and_prices_content["header_text"] }}</h1>
            <p id="subheader">
              {{ services_and_prices_content["subheader_text"] }}
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-y-6 md:gap-y-8">
          <div
            class="w-full gap-10 grid items-center grid-cols-1 md:grid-cols-2"
          >
            <div class="flex flex-col gap-y-6 md:gap-y-8">
              <div class="space-y-2">
                <p class="text-md tracking-widest text-unidPurple">{{ services_and_prices_content["services_section"]["subheader_text"] }}</p>
                <h2>{{ services_and_prices_content["services_section"]["header_text"] }}</h2>
              </div>
              <div class="space-y-6">
                % for paragraph in services_and_prices_content['services_section']['paragraphs']:
                <div class="space-y-2">
                  <p class="text-2xl font-saira font-semibold">{{ paragraph["title"] }}</p>
                  <p class="text-base">
                    {{ paragraph["text"] }}
                  </p>
                </div>
                % end
              </div>
            </div>
            <div class="flex justify-center items-center">
              <!-- prettier-ignore -->
              <img
                class="h-auto w-3/4"
                src="/assets/illustrations/{{ services_and_prices_content['services_section']['illustration'] }}"
                alt="{{ services_and_prices_content['services_section']['illustration_alt'] }}"
              />
            </div>
          </div>
        </div>
      </div>
      % include('sections/pricing')
    </section>

    % include('components/footer')
    
    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
