<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/app.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- FAVICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <section id="signup" class="">
      <div class="">
        <span class="">Opret en bruger</span>

        <div class="mt-4 flex flex-col justify-center">
          <input
            type="text"
            name="first_name"
            id="first_name"
            placeholder="Fornavn"
            class=""
          />
          <input
            type="text"
            name="last_name"
            id="last_name"
            placeholder="Efternavn"
            class=""
          />
          <input
            type="text"
            name="email"
            id="email"
            placeholder="E-mail"
            class=""
          />
          <input
            type="text"
            name="phone"
            id="phone"
            placeholder="Telefon"
            class=""
          />
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Brugernavn"
            class=""
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Adgangskode"
            class=""
          />
          <input
            type="text"
            name="website_name"
            id="website_name"
            placeholder="Website navn"
            class=""
          />
          <input
            type="text"
            name="website_url"
            id="website_url"
            placeholder="Website URL"
            class=""
          />
        </div>

        <button onclick="signUp()" class="">Opret bruger</button>

        <div class="">
          <p class="">Har du allerede en bruger?</p>
          <a id="#bottom-login" onclick="" class="" href="">Log ind</a>
        </div>
      </div>
    </section>

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
